* {
  margin: 4p;
  padding: 0;
  box-sizing: border-box;
  background-color: #155263;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 18px;
}

.row {
  grid-column: span 12;
}

@media (min-width: 768px) {
  .row {
    grid-column: span 6;
  }
}

@media (min-width: 1024px) {
  .row {
    grid-column: span 4;
  }
}

.app {
  margin-top: 20px;
}

h1 {
  text-align: center;
  font-size: 24px;
  color: #ffff;
}

#instructions,
#current-type {
  padding: 15px;
  margin: 10px;
  background: #f2f2f2;
  color: #333;
  border: 2px solid #ffc93c;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-bottom: 20px;
  align-content: center;
}

b {
  color: #000000;
  background: #f2f2f2;
  font-weight: bold;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  h1 {
    font-size: 32px;
  }
}

.poke-search {
  grid-column: span 12;
  margin: 20px 0;
  margin-right: 5%;
}

.poke-search label {
  font-size: 18px;
  color: #ffff;
  margin-left: 4%;
}

@media (min-width: 768px) {
  .poke-search label {
    grid-column: span 12;
    margin: 20px 0;
    margin-left: 10%;
  }
}

@media (min-width: 1024px) {
  .poke-search label {
    grid-column: span 12;
    margin: 20px 0;
    margin-left: 15%;
  }
}

.poke-search input {
  width: 40%;
  padding: 8px;
  margin-top: 8px;
  margin-left: 4%;
  border: 1px solid #ffff;
  border-radius: 4px;
  color: #ffc93c;
  font-size: 18px;
}

.poke-search button {
  margin-top: 12px;
  margin-left: 4%;
  margin-left: 40%;
  padding: 10px 20px;
  background-color: #ffc93c;
  color: #0b0b01;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 15px 50px 30px;
}

@media (min-width: 768px) {
  .poke-search button {
    grid-column: span 12;
    margin: 20px 0;
    margin-left: 5%;
  }
}

@media (min-width: 1024px) {
  .poke-search button {
    grid-column: span 12;
    margin: 20px 0;
    margin-left: 5%;
  }
}

.poke-search button:hover {
  background-color: #ff9a3c;
}

#loading-img {
  margin-top: -700px;
}

#error-img {
  width: 400px;
  display: block;
  margin: 0 auto;
}

.against-container {
  display: flex;
  gap: 50px;
  margin-bottom: 20px;
  max-width: 65%;
  background: #f2f2f2;
  border: 2px solid #ffc93c;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px 50px 30px;
  margin: auto;
}

@media (min-width: 768px) {
  .against-container {
    max-width: 40%;
  }
}

@media (min-width: 1024px) {
  .against-container {
    max-width: 20%;
    padding: 0px;
  }
}

.against-list {
  border-radius: 15px 50px 30px;
  width: 30%;
  list-style-type: none;
  padding: 5px;
  margin: 0;
  font-size: 20px;
  background: #f2f2f2;
  color: black;
}

.against-list li {
  margin: 2px 0;
  margin-left: 3%;
  padding: 5px;
  background: #f2f2f2;
  color: black;
  border-radius: 15px 50px 30px;
}

.poke-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  margin-top: 20px;
}

@media (min-width: 768px) {
  .poke-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  .poke-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

.poke-card {
  list-style: none;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  color: white;
}

.pokemon-sprite {
  width: 125px;
  height: auto;
}

.pokemon-sprite:hover {
  border-radius: 15px 50px 30px;
  height: 150px;
  width: 200px;
  height: 200px;
  background-color: #155263;
  box-shadow: 0px 0px 50px 20px #4cb9d7;
}

.poke-card h3 {
  margin-top: 12px;
  font-size: 18px;
  color: white;
}

@media (min-width: 768px) {
  .poke-card h3 {
    font-size: 20px;
  }
}
